*{
    font-family: 'VT323', monospace;
}

body {
    background-color: #035158;
}

span {
    font-size: 3.5rem;
}

.dollar {
    width: 6rem;
}

#money {
    color: yellow;
}

.card {
    border: 5px solid black;
}