*{
    font-family: 'VT323', monospace;
}

body {
    background-color: #035158;
}

span {
    font-size: 2.5rem;
}

.dollar {
    width: 2rem;
}

#money {
    color: yellow;
}

.card {
    border: 5px solid black;
}

.card img{
    border-radius: 60%;
}

.game-area .col {
    cursor: pointer;
}